@mixin screen-s {
  @media only screen and (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin screen-m {
  @media only screen and (max-width: $breakpoint-m) {
    @content;
  }
}

@mixin screen-l {
  @media only screen and (max-width: $breakpoint-l) {
    @content;
  }
}

@mixin screen-xl {
  @media only screen and (max-width: $breakpoint-xl) {
    @content;
  }
}

@mixin screen-xxl {
  @media only screen and (max-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin futura-pt {
  font: {
    family: 'Futura PT';
    weight: $fw-book;
  }
}
