$font-size-root:         1.6rem;

$fs-primary-font-xl: 30px;
$fs-primary-font-lg: 24px;
$fs-primary-font-md: 18px;
$fs-primary-font-sm: 16px;
$fs-primary-font-xs: 14px;

$fs-second-font-xl: 72px;
$fs-second-font-lg: 60px;
$fs-second-font-md: 50px;
$fs-second-font-sm: 40px;
$fs-second-font-xs: 32px;


$fw-book: 400;
$fw-demi: 600;



$black-color: #000;
$white-color: #FFF;

$white-color-10: #F7F7F7;

$blue-color: #265FF5;
$gray-color: #a4afc1;


$screen-xs: 0;

$breakpoint-s:    576px;
$breakpoint-m:    768px;
$breakpoint-l:    992px;
$breakpoint-xl:   1200px;
$breakpoint-xxl:  1440px;



$transition: 0.3s;