include ../../components/btn/btn

header.header
	.container
		.header__row
			.header__logo 
				a.header__logo-link
					picture 
						source(media="(min-width: 768px)", srcset="tpl/assets/svg/logo.svg")
						source(media="(max-width: 767px)", srcset="tpl/assets/svg/mobile-logo.svg")
						img.header__logo-icon(src="tpl/assets/svg/logo.svg", alt="nopreset")
			nav.header__nav.nav-header
				ul.nav-header__list
					li.nav-header__item 
						a.nav-header__link(href="#") Кейсы 
					li.nav-header__item 
						a.nav-header__link(href="#") Услуги
					li.nav-header__item 
						a.nav-header__link(href="#") О нас
					li.nav-header__item 
						a.nav-header__link(href="#") Контакты 
			+btn('Заказать', 'header__btn header__btn--small')
