include ../../components/ico/ico

header.header
	.container
		.block Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error aliquam asperiores, aperiam sunt aspernatur nobis sint quidem, tempore voluptas eligendi impedit praesentium repellat porro ipsum, neque quod ipsa! Dicta, deleniti!
