mixin card(title, text, modifier) 
    .services__card.services-card(class= modifier)
        h3.services-card__title= title
        p.services-card__text= text

.services
    .container
        h2.services__title Услуги
        .services__list
            +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.')
            +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
            +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
            +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.', 'services-card--top')
            +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.')
            +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
            +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
            +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.', 'services-card--top')


        //-    .services__row 
                +card()
                +card()
            .services__row 
                +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
                +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.')
            .services__row 
                +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.')
                +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
            .services__row 
                +card('Веб-разработка', 'Стек разработки — PHP, 1С-Битрикс и фреймворк Laravel. Основная специализация компании.')
                +card('Дизайн', 'Визуализация проекта с уклоном в интерфейсный дизайн и пользовательское взаимодействие.')
