.work 
    .container 
        .work__row.work-row
            .work__col.work-col
                a.work-link(href="#")
                    h3.work-col__title СГМУ
                        span.title-year 2020
                p.work-col__text.work-text корпоративный сайт
                .work-col__img 
                    .picture 
                        source(media="(min-width: 1900px)", srcset="tpl/assets/img/sgmu.png, tpl/assets/img/sgmu-2x.png 2x")
                        source(media="(min-width: 1201px)", srcset="tpl/assets/img/sgmu-1366.png, tpl/assets/img/sgmu-1366-2x.png 2x")
                        source(media="(min-width: 910px)", srcset="tpl/assets/img/sgmu-1024.png, tpl/assets/img/sgmu-1024-2x.png 2x")
                        source(media="(max-width: 909px)", srcset="tpl/assets/img/sgmu-320.png, tpl/assets/img/sgmu-320-2x.png 2x")
                        img(src="tpl/assets/img/sgmu.png", alt="")
            .work__col.work-col 
                a.work-link(href="#")
                    h3.work-col__title Sofner
                        span.title-year 2020
                p.work-col__text.work-col__text--second.work-text сайт нового бренда мягкой мебели от сибирской фабрики с большой историей
                .work-col__img 
                    .picture 
                        source(media="(min-width: 1900px)", srcset="tpl/assets/svg/sofner.svg")
                        source(media="(min-width: 1201px)", srcset="tpl/assets/svg/sofner-1366.svg")
                        source(media="(min-width: 910px)", srcset="tpl/assets/svg/sofner-1024.svg")
                        source(media="(max-width: 909px)", srcset="tpl/assets/svg/sofner-320.svg")
                        img(src="tpl/assets/svg/sofner.svg", alt="")
