.full-screen 
    .container.full-screen__wrapper
        .full-screen__content
            h1.full-screen__title Проектируем
            p.full-screen__text сайты, мобильные приложения, интернет-магазины и сложные системы для бизнеса