.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    li {
        position: relative;
        &:not(:last-child) {
            padding-right: 35px;
            margin-right: 16px;
            &:before {
                content: "";
                position: absolute;
                top: 0;

                right: 0;
                bottom: 0;

                width: 20px;
                height: 8px;
                margin: auto;
            }
        }
    }
}