.frendom 
    .container 
        .frendom__content
            .frendom__info 
                h3.frendom__title Frendom
                    span.title-year 2019
                p.frendom__text.work-text Сайт бренда мягкой мебели с магазинами по всей России и ближнему зарубежью.
            .frendom__img 
                picture 
                    source(media="(min-width: 1900px)", srcset="tpl/assets/img/frendom.png, tpl/assets/img/frendom-2x.png 2x")
                    source(media="(min-width: 1201px)", srcset="tpl/assets/img/frendom-1366.png, tpl/assets/img/frendom-1366-2x.png 2x")
                    source(media="(min-width: 910px)", srcset="tpl/assets/img/frendom-1024.png, tpl/assets/img/frendom-1024-2x.png 2x")
                    source(media="(max-width: 909px)", srcset="tpl/assets/img/frendom-320.png, tpl/assets/img/frendom-320-2x.png 2x")
                    img(src="tpl/assets/img/frendom.png", alt="")

