body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @include futura-pt();
  font-weight: $fw-book;
  line-height: 1.5;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include futura-pt();
}

h1 {
  font-weight: 600;
  font-size: 178px;
  line-height: 130%;

  @include screen-xxl() {
    font-size: 90px;
    line-height: 100px;
  }

  @include screen-xl() {
    font-size: 64px;
    line-height: 76px;
  }

  @include screen-s() {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-size: 72px;
  line-height: 80px;

  @include screen-xxl() {
    font-size: 50px;
    line-height: 60px;
  }

  @include screen-xl() {
    font-size: 40px;
    line-height: 48px;
  }

  @include screen-s() {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 130%;

  @include screen-xxl() {
    font-size: 40px;
    line-height: 36px;
  }

  @include screen-xl() {
    font-size: 32px;
    line-height: 40px;
  }

  @include screen-l() {
    font-size: 24px;
    line-height: 32px;
  }
}

.title-year {
  font-size: $fs-second-font-xs;
  color: $gray-color;
  margin-left: 5px;

  @include screen-xxl() {
    font-size: $fs-primary-font-lg;
  }

  @include screen-xl() {
    font-size: $fs-primary-font-sm;
  }
}

.work-text {
  font-size: $fs-primary-font-xl;
  line-height: 40px;
  color: #505050;

  @media (max-width: 1920px) {
    font-size: $fs-primary-font-lg;
    line-height: 130%;
  }

  @media (max-width: 1200px) {
    font-size: $fs-primary-font-md;
    line-height: 26px;
  }

  @media (max-width: 768px) {
    font-size: $fs-primary-font-sm;
    line-height: 22px;
  }
}